@charset "UTF-8";

/* ################ GERAL */
body {
  color: #141414;
  font-size: 13px;
}

.hidden {
  display: none !important;
}

.reset-input {
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  background: initial !important;
}

.cursor-pointer {
  cursor: pointer;
}


.account-pages {
  position: absolute;
  width: 80%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cardLogin {
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #222428;
  padding: 20px;
  margin-bottom: 20px;
}

.backgroundColorRed {
  background-color: #000000;
}

.btn-back {
  font-size: 20px;
}

.btn-primaryGreen {
  background-color: #DB0007;
  border-color: #DB0007;
}

.btn-warning {
  background-color: #fbcc5c;
  border-color: #fbcc5c;
}


.btn {
  border-radius: 50px;
  padding: .05rem .9rem;
  cursor: pointer;
  height: 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: #fff;
}

.btn:hover {
  color: #fff;
  text-decoration: none;
}

.btn-secondary {
  border-radius: 50px;
}

.text-muted {
  color: #141414 !important;
}

.text-dark-gray {
  color: #1C1D1E
}

.underline {
  text-decoration: underline;
}

.width-initial {
  width: initial;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.margin-side-items {
  margin: 0 0 10px 10px;
}

.input-input {
  border: 0;
  border-bottom: 1px solid #1C1D1E;
  outline: none;
  padding: 0;
  font-size: 13px;
  color: #1C1D1E;
  background-color: transparent;
  width: 100%;
}

/* ################ LOGIN */
.authentication-page .navbar-custom,
.authentication-page .left-side-menu,
.authentication-page footer,
.platforms-page footer {
  display: none !important;
}

.card-radius {
  border-radius: 10px;
}

.card-radius-top {
  border-radius: 10px 10px 0 0;
}

.topBorderCard {
  height: 55px;
}

input[type=button].btn-login {
  width: 181px;
  height: 40px;
}

/* ################ CUSTOMIZAÇÕES */
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding-left: 0;
  padding-right: 0;

}

.form-control.vdp-datepicker input,
.dark .form-control.vdp-datepicker input {
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  background-color: transparent;
  padding-left: 0;
  color: #6c757d;
  width: 100%;
}

.vdp-datepicker__calendar span.cell {
  height: 30px;
  line-height: 30px;
}

div.vdp-datepicker__calendar {
  width: 250px;
  font-size: 11px;
}


/*############### togglet*/

.container-switch {
  display: inline-flex;
  padding: 1rem;
  width: 230px;
}

.container-switch .label-swith {
  display: block;
  margin-top: -3px;
  padding-left: 1rem;
}

.container-switch .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 14px;
}

.container-switch .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.container-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.container-switch .slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.container-switch input:checked+.slider {
  background-color: #DB0007;
}

.container-switch input:focus+.slider {
  box-shadow: 0 0 1px #DB0007;
}

.container-switch input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.container-switch .slider.round {
  border-radius: 34px;
  width: 40px;
}

.container-switch .slider.round:before {
  border-radius: 50%;
}


.page-content {
  position: relative;
  /* display: flex; */
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 0;
  width: 100%;
  height: 1500px;
  padding-top: 20px;
}

.page-content__aside {
  width: 20%;
  height: 60%;
  padding: 0 30px 0 0;
}

.page-content__filter {
  list-style: none;
}

.page-content__filter h3 {
  margin-bottom: 30px;
}

.page-content__filter li {
  cursor: pointer;
  color: #666666;
  margin: 10px 0;
  font-size: 0.9em;
}

.page-content__filter li:hover {
  background-color: #ccc;
}

.page-content__top img {
  height: 28px;
  margin-right: 20px;
}

.page-content__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.page-content__item {
  transition: 0.2s all ease-in-out;
  cursor: pointer;
  margin: 20px;
  flex-direction: column;
  position: relative;
  width: 150px;
  height: 200px;
  box-shadow: -1px 2px 10px rgba(0, 0, 0, 0.5);
}

.close-button {
  background-color: #eff2f7;
  color: #333333;
  padding: 7px 15px;
  box-shadow: 3px 7px 9px 1px rgba(0, 0, 0, 0.2);
  font-size: 10px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.close-button img {
  width: 16px;
}

.page-content__item:hover {
  transform: scale(1.05);
}

.page-content__item figure {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.page-content__item figure img {
  /* filter: grayscale(1); */
}

.page-content__item figure figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
  color: black;
  font-weight: bold;
}

.page-content__item figure figcaption span.price {
  color: #666666;
}

.page-content__item figure img {
  height: 100%;
}

.border-bottom {
  border-bottom: 1px #999 solid;
}

.qrcode-box {
  text-align: center;
  height: 100px;
  width: 100px;
}

.qrcode-container {
  writing-mode: tb;
}